<?xml version="1.0" encoding="utf-8"?>
<!-- These values are populated into the package.gsl templates by package.bat. -->
<!-- The target attribute controls path and file name only, id controls package naming. -->
<!-- Vary id and platformtoolset by compiler, version and pathversion by release. -->
<package id="secp256k1_vc143" target="secp256k1" version="0.5.1.0" pathversion="0_5_1_0" platformtoolset="v143" />